<div class="container">
    <h1>list</h1>
    <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText"/>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="item in pokedex.list | filter:pokedex.filterFunction(searchText)">
            <div class="pokedexBox">
                <img ng-src="{{pokedex.imgUrl + item.image}}" />
                <div>{{item.id | pokedexId}} - {{item.name}}</div>
                <div>
                    <span role="type" ng-repeat="type in item.type" class="{{type}}">{{type}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
