div.pokedexBox { border-radius: 2em; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */ background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */ border: 2px solid #e6e6e6; margin: 1em; padding: 1em; }

div.pokedexBox div { padding: 0.5em; }

div.pokedexBox img { width: 100%; }

div.pokedexBox img:hover { background: #e6e6e6; }

span[role=type] { border-radius: 0.5em; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */ background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */ margin-right: 1em; padding: 0.3em 1em; }

span.grass { background: #8cff66; }

span.poison { background: #cc66ff; }

span.fire { background: #ff6666; }
